div('*ngIf'="!isCountryRecognitionError; else selectCountryManually")
  h1.title('*ngIf'="isRecognizing") Recognizing your country...
  h1.title('*ngIf'="country") {{country}}
ng-template(#selectCountryManually)
  .control.has-text-centered
    .select
      select.fixed-width('(change)'="setCountry($event.target.value)")
        option(disabled) Select country
        option('*ngFor'="let country of countries") {{country}}
