section.hero.is-dark.is-fullheight
  .hero-body
    .container.has-text-centered
      div('*ngIf'="!isFirstStepPassed; else countryPicker")
        h1.title.slide-down-animation
          | Wanna be motivated by DEATH ☠️?
        h2.title.slide-up-animation
          button.button.is-large.is-success('(click)'="closeWelcome()") 😍 Sure, let's go!
      ng-template(#countryPicker)
        lc-welcome-country-picker('*ngIf'="!(user$ | async).country; else agePicker")

        ng-template(#agePicker)
          lc-welcome-age-picker('(done)'="done.emit()")
