lc-view-switcher('[view]'="view", '(changed)'="setView($event)")

p YearOfBirth: {{yearOfBirth}}
p Years: {{years}}
p Country: {{country}}

lc-calendar('[yearOfBirth]'="yearOfBirth", '[yearsToLife]'="years", '[view]'="view")
