ng-container('*ngIf'="user$ | async as user")
  lc-welcome('*ngIf'="user.isNew; else mainApp", '(done)'="markUserAsNotNew()")

  ng-template(#mainApp)

    lc-view-switcher('[view]'="view", '(changed)'="setView($event)")

    div(*ngIf="user$ | async as user")
    p YearOfBirth: {{user.yearOfBirth}}
    p Years: {{user.age}}
    p Country: {{user.country}}
    p Prediction: {{user.lifeExpectancy}}
    p YearOfDeath: {{user.yearOfDeath}}

    lc-calendar('[yearOfBirth]'="user.yearOfBirth",
                '[lifeExpectancy]'="user.lifeExpectancy",
                '[yearOfDeath]'="user.yearOfDeath",
                '[age]'="user.age",
                '[percentageLivedSoFar]'="user.percentageLivedSoFar",
                '[today]'="today",
                '[view]'="view")
    button.button('(click)'="clearStorage()") RESET


.notification.is-info.system-notification('*ngIf'="isNewVersionAvailable")
  button.delete('(click)'="isNewVersionAvailable = false")
  p New version is available.
  button.button.is-primary.is-right.m-t-1('(click)'="updateApp()") Update now

