ng-container('*ngIf'="user$ | async as user")
  lc-welcome('*ngIf'="user.isNew; else mainApp", '(done)'="markUserAsNotNew()")

  ng-template(#mainApp)
    //  p YearOfBirth: {{user.yearOfBirth}}
    //  p Years: {{user.age}}
    //  p Country: {{user.country}}
    //  p Prediction: {{user.lifeExpectancy}}
    //  p YearOfDeath: {{user.yearOfDeath}}
    //
    //  lc-calendar('[yearOfBirth]'="user.yearOfBirth",
    //  '[lifeExpectancy]'="user.lifeExpectancy",
    //  '[yearOfDeath]'="user.yearOfDeath",
    //  '[age]'="user.age",
    //  '[percentageLivedSoFar]'="user.percentageLivedSoFar",
    //  '[today]'="today",
    //  '[view]'="view")


    section.hero.is-dark.is-fullheight
      .hero-body('*ngIf'="!timelineActive")
        .container.has-text-centered
          button.button.is-large.is-primary('*ngIf'="!isShowingLife", '(click)'="showUserHisLife()")
            | Show me my life ❤️
          .life-overview('*ngIf'="isShowingLife")
            p.has-text-centered.slide-down-animation.m-b-1('*ngIf'="showLifeExpectancy")
              | Life expectancy is {{user.lifeExpectancy}} years
            .progress-bar-stack
              .progress-bar('*ngFor'="let ls of lifeStages", '[ngClass]'="ls.cssClass", '[style.width]'="ls.width + '%'")
                p {{ls.text}}
          button.button.btn-timeline.is-success.m-t-1('*ngIf'="lifeShowingFinished && !timelineActive",
                                                '(click)'="showTimeline()")
            | Show timeline 🔥

      lc-calendar('*ngIf'="timelineActive",
                  '[yearOfBirth]'="user.yearOfBirth",
                  '[lifeExpectancy]'="user.lifeExpectancy",
                  '[yearOfDeath]'="user.yearOfDeath",
                  '[age]'="user.age",
                  '[percentageLivedSoFar]'="user.percentageLivedSoFar",
                  '[today]'="today")

      .system-panel.system-panel-bottom('*ngIf'="timelineActive")
        .buttons
          button.button.is-warning.is-left('(click)'="clearStorage()", title="Restart") Restart survey 🧨
          a.button.is-success.is-right(href="https://www.angularattack.com/entries/77-asap/vote" target="_blank")
            | Vote for me 🎖

.notification.is-info.system-notification('*ngIf'="isNewVersionAvailable")
  button.delete('(click)'="isNewVersionAvailable = false")
  p New version is available.
  button.button.is-primary.is-right.m-t-1('(click)'="updateApp()") Update now

.notification.is-warning.system-notification('*ngIf'="!(isAppOnline$ | async) && shouldShowOfflineMessage")
  button.delete('(click)'="shouldShowOfflineMessage = false")
  p You are offline
