button('(click)'="welcomeUser()") Welcome

lc-view-switcher('[view]'="view", '(changed)'="setView($event)")

p Country: {{country}}
p YearOfBirth: {{yearOfBirth}}
p Years: {{yearsToLife}}
p YearOfDeath: {{yearOfDeath}}
p AgeOfDeath: {{yearsToLife}}

lc-calendar('[yearOfBirth]'="yearOfBirth",
            '[yearsToLife]'="yearsToLife",
            '[yearOfDeath]'="yearOfDeath",
            '[age]'="age",
            '[percentageLivedSoFar]'="percentageLivedSoFar",
            '[today]'="today",
            '[view]'="view")
