lc-calendar
  .month
    background: forestgreen
    display: inline-block
    &.passed
      background: red

  .view
    margin-top: 25px
    margin-bottom: 25px
    &.view--horizontal
      display: flex
      flex-direction: row
      overflow-x: auto
      .year
        display: flex
        flex-direction: column
        margin-right: 2px

      .month
        width: 15px
        height: 15px
        margin-bottom: 5px

    &.view--vertical
      .month
        width: 25px
        height: 25px
        margin-right: 5px

    &.view--timeline
      padding-left: 100px


    .timeline--desc
      font-size: small
      max-width: 50%

  .year
    .title
      word-break: keep-all




