//.view.view--horizontal('*ngIf'="view === 'horizontal'")
//  .year('*ngFor'="let year of years; let isFirst = first; let isLast = last")
//    .title {{((+year.title)%10===0 || isFirst || isLast) ? year.title : '&nbsp;'}}
//    .month('*ngFor'="let month of year.months" '[class.passed]'="month.passed")


//table.view.view--vertical('*ngIf'="view === 'vertical'")
//  thead
//    tr
//      th Year
//      th Months
//  tbody
//    tr('*ngFor'="let year of years")
//      td {{year.title}}
//      td
//        .month('*ngFor'="let month of year.months", '[class.passed]'="month.passed")


//.view.view--progressbar('*ngIf'="view === 'progressbar'")
//  p {{percentageLivedSoFar}}
//  progress.progress(max="lifeExpectancy", '[value]'="percentageLivedSoFar") {{percentageLivedSoFar}}%

  //('*ngIf'="view === 'timeline'")
button.button.is-success.system-button.system-button-top-left.slide-down-animation('(click)'="refreshItems()") More 🏆

.view.view--timeline
  .timeline.is-centered

    ng-container('*ngFor'="let item of getItems()")
      ng-container('*ngIf'="item.type==='archive'")
        .timeline-item('[ngClass]'="getClass(item)")
          .timeline-marker('[ngClass]'="getClass(item)")
          .timeline-content
            h2 {{item.age}}
            p.timeline--desc {{item.desc}}

      ng-container('*ngIf'="item.type==='terminator'")
        ng-container('*ngIf'="item.age!==0")
          .timeline-item('[ngClass]'="getClass(item)")
            .timeline-content
          .timeline-item('[ngClass]'="getClass(item)")
            .timeline-content
        header.timeline-header
          span.tag('[ngClass]'="getClass(item)") {{item.desc}}
        ng-container('*ngIf'="item.age===0")
          .timeline-item('[ngClass]'="getClass(item)")
            .timeline-content
          .timeline-item('[ngClass]'="getClass(item)")
            .timeline-content

      ng-container('*ngIf'="item.type==='event'")
        .timeline-item('[ngClass]'="getClass(item)")
          .timeline-content
        .timeline-item('[ngClass]'="getClass(item)")
          .timeline-content
        header.timeline-header
          span.tag('[ngClass]'="getClass(item)") {{item.desc}}
        ng-container('*ngIf'="age < lifeExpectancy || item.age !== age")
          .timeline-item('[ngClass]'="getClass(item)")
            .timeline-content
          .timeline-item('[ngClass]'="getClass(item)")
            .timeline-content


//.view.view--chart-radial-bar('*ngIf'="view === 'radialBar'")
//  #chartdiv(style='width: 100%; height: 800px')
