//.view.view--horizontal('*ngIf'="view === 'horizontal'")
//  .year('*ngFor'="let year of years; let isFirst = first; let isLast = last")
//    .title {{((+year.title)%10===0 || isFirst || isLast) ? year.title : '&nbsp;'}}
//    .month('*ngFor'="let month of year.months" '[class.passed]'="month.passed")


//table.view.view--vertical('*ngIf'="view === 'vertical'")
//  thead
//    tr
//      th Year
//      th Months
//  tbody
//    tr('*ngFor'="let year of years")
//      td {{year.title}}
//      td
//        .month('*ngFor'="let month of year.months", '[class.passed]'="month.passed")


//.view.view--progressbar('*ngIf'="view === 'progressbar'")
//  p {{percentageLivedSoFar}}
//  progress.progress(max="lifeExpectancy", '[value]'="percentageLivedSoFar") {{percentageLivedSoFar}}%

  //('*ngIf'="view === 'timeline'")
button.button.is-small.is-success('(click)'="refreshItems()") SEE ANOTHER ITEMS

.view.view--timeline
  .timeline.is-centered
    header.timeline-header.is-primary
      span.tag.is-medium.is-primary Born: {{yearOfBirth}}
    .timeline-item
    .timeline-item('*ngFor'="let dead of getYoungerAge()")
      .timeline-marker
      .timeline-content
        h2 {{dead.age}}
        p.timeline--desc {{dead.desc}}
    .timeline-item
      .timeline-content
    .timeline-item
      .timeline-content
    header.timeline-header
      span.tag.is-warning Now: ({{today | date: 'yyyy'}}) {{age}} years old
    .timeline-item.is-warning
      .timeline-content
    .timeline-item.is-warning('*ngFor'="let dead of getOlderAge()")
      .timeline-marker.is-warning
      .timeline-content
        h2 {{dead.age}}
        p.timeline--desc {{dead.desc}}
    .timeline-item.is-warning
      .timeline-content
    .timeline-item.is-warning
      .timeline-content
    header.timeline-header
      span.tag.is-danger Retirement: ({{yearOfBirth + notEffectiveAge}}) {{notEffectiveAge}} years old
    .timeline-item.is-danger
      .timeline-content
    .timeline-item.is-danger('*ngFor'="let dead of getOlderNotEffective()")
      .timeline-marker.is-danger
      .timeline-content
        h2 {{dead.age}}
        p.timeline--desc {{dead.desc}}
    .timeline-item.is-danger
      .timeline-content
    .timeline-item.is-danger
      .timeline-content
    header.timeline-header
      span.tag.is-medium.is-danger Death: ({{yearOfDeath}}) {{lifeExpectancy}} years old


//.view.view--chart-radial-bar('*ngIf'="view === 'radialBar'")
//  #chartdiv(style='width: 100%; height: 800px')
