@import "../node_modules/bulma/bulma"
@import "../node_modules/bulma-extensions/bulma-timeline/dist/css/bulma-timeline"

html
  font-size: 24px
  @media (max-width: 450px)
    font-size: 16px
.fixed-width
  width: 250px
.m-t-1
  margin-top: 1rem

.system-notification
  position: fixed
  top: 1rem
  left: 1rem

