@import "../node_modules/bulma/bulma"
@import "../node_modules/bulma-extensions/bulma-timeline/dist/css/bulma-timeline"

html
  font-size: 24px
  @media (max-width: 450px)
    font-size: 16px

.fixed-width
  width: 250px

.m-t-1
  margin-top: 1rem
.m-b-1
  margin-bottom: 1rem

.system-notification
  position: fixed
  top: 1rem
  left: 1rem


$progress-bar-stack-height: 50px
$progress-bar-stack-height-mobile: 100px
.life-overview
  .progress-bar-stack
    background-color: #ccc
    width: 100%
    height: $progress-bar-stack-height
    .progress-bar
      float: left
      height: 100%
      @extend .slide-down-animation
      > p
        line-height: $progress-bar-stack-height
  @media (max-width: 599px)
    .progress-bar-stack
      height: $progress-bar-stack-height-mobile
      .progress-bar > p
        line-height: $progress-bar-stack-height

.slide-down-animation
  animation: slide-down 1.5s ease

@keyframes slide-down
  0%
    opacity: 0
    transform: translateY(-$progress-bar-stack-height)

  100%
    opacity: 1
    transform: translateY(0)
